## Задача 1

### Задача 1.1

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('kc_house_data.csv')

In [4]:
print(data.head())

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503

[5 rows x 21 columns]

### Задача 1.2

In [6]:
data['delta_renovated'] = data.apply(lambda row: row['yr_renovated'] - row['yr_built'] if row['yr_renovated'] > 0 else 0, axis=1)
print(data['delta_renovated'])

0         0
1        40
2         0
3         0
4         0
         ..
21608     0
21609     0
21610     0
21611     0
21612     0
Name: delta_renovated, Length: 21613, dtype: int64

### Задача 1.3

In [8]:
data['year_sold'] = pd.to_datetime(data['date']).dt.year
print(data['year_sold'])

0        2014
1        2014
2        2015
3        2014
4        2015
         ...
21608    2014
21609    2015
21610    2014
21611    2015
21612    2014
Name: year_sold, Length: 21613, dtype: int32

In [9]:
data['month_sold'] = pd.to_datetime(data['date']).dt.month
print(data['month_sold'])

0        10
1        12
2         2
3        12
4         2
         ..
21608     5
21609     2
21610     6
21611     1
21612    10
Name: month_sold, Length: 21613, dtype: int32

### Задача 1.4

In [10]:
data = data.drop(['date', 'zipcode', 'lat', 'long'], axis=1)
print(data.head())

           id     price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  \
0  7129300520  221900.0         3       1.00         1180      5650     1.0
1  6414100192  538000.0         3       2.25         2570      7242     2.0
2  5631500400  180000.0         2       1.00          770     10000     1.0
3  2487200875  604000.0         4       3.00         1960      5000     1.0
4  1954400510  510000.0         3       2.00         1680      8080     1.0

   waterfront  view  condition  grade  sqft_above  sqft_basement  yr_built  \
0           0     0          3      7        1180              0      1955
1           0     0          3      7        2170            400      1951
2           0     0          3      6         770              0      1933
3           0     0          5      7        1050            910      1965
4           0     0          3      8        1680              0      1987

   yr_renovated  sqft_living15  sqft_lot15  delta_renovated  year_sold  \
0             0           1340        5650                0       2014
1          1991           1690        7639               40       2014
2             0           2720        8062                0       2015
3             0           1360        5000                0       2014
4             0           1800        7503                0       2015

   month_sold
0          10
1          12
2           2
3          12
4           2

## Задача 2

### Задача 2.1

In [11]:
clients = pd.DataFrame({
    'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
    'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720, 9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025, 1951600150, 809001400, 339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030, 3303980210, 7731100066, 8146100580, 825069097, 3889100029, 9524100196]
})

### Задача 2.2

In [12]:
joined_data = clients.join(data, on='house_id')

### Задача 2.3

In [13]:
merged_data = clients.merge(data, left_on='house_id', right_index=True)

## Задача 3

### Задача 3.1

In [14]:
mean_price_by_bedrooms = data.groupby('bedrooms')['price'].mean().sort_values()
print(mean_price_by_bedrooms)

bedrooms
1     3.176429e+05
2     4.013727e+05
0     4.095038e+05
3     4.662321e+05
11    5.200000e+05
4     6.354195e+05
33    6.400000e+05
5     7.865998e+05
10    8.193333e+05
6     8.255206e+05
9     8.939998e+05
7     9.511847e+05
8     1.105077e+06
Name: price, dtype: float64

### Задача 3.2

In [16]:
price_stats_by_condition = data.groupby('condition')['price'].agg(['min', 'mean', 'max'])
print(price_stats_by_condition)

                min           mean        max
condition
1           78000.0  334431.666667  1500000.0
2           80000.0  327287.145349  2555000.0
3           75000.0  542012.578148  7062500.0
4           89000.0  521200.390033  7700000.0
5          110000.0  612418.089359  3650000.0

### Задача 3.3

In [17]:
count_by_waterfront_view = pd.pivot_table(data, index='waterfront', columns='view', values='id', aggfunc='count')
print(count_by_waterfront_view)

view              0      1      2      3      4
waterfront
0           19489.0  331.0  955.0  491.0  184.0
1               NaN    1.0    8.0   19.0  135.0

### Задача 3.4

In [18]:
count_by_floors_bedrooms = pd.pivot_table(data, index='floors', columns='bedrooms', values='id', aggfunc='count')
print(count_by_floors_bedrooms)

bedrooms   0      1       2       3       4      5      6     7    8    9   \
floors
1.0       4.0  162.0  1951.0  5455.0  2383.0  605.0  104.0   9.0  5.0  NaN
1.5       NaN   21.0   182.0   786.0   698.0  185.0   30.0   7.0  1.0  NaN
2.0       6.0   12.0   497.0  3118.0  3682.0  775.0  119.0  19.0  6.0  4.0
2.5       NaN    1.0     5.0    56.0    58.0   23.0   14.0   2.0  NaN  2.0
3.0       2.0    3.0   123.0   405.0    61.0   13.0    5.0   1.0  NaN  NaN
3.5       1.0    NaN     2.0     4.0     NaN    NaN    NaN   NaN  1.0  NaN

bedrooms   10   11   33
floors
1.0       1.0  NaN  1.0
1.5       NaN  NaN  NaN
2.0       2.0  1.0  NaN
2.5       NaN  NaN  NaN
3.0       NaN  NaN  NaN
3.5       NaN  NaN  NaN

### Задача 3.5

In [19]:
median_price_by_condition_view = pd.pivot_table(data, index='condition', columns='view', values='price', aggfunc='median')
print(median_price_by_condition_view)

view              0         1         2          3          4
condition
1          255000.0  295000.0       NaN        NaN   455000.0
2          272405.0  800000.0  375000.0   384065.0        NaN
3          436000.0  700000.0  675000.0   805000.0  1187500.0
4          419000.0  665900.0  647475.0   790000.0  1088890.0
5          487500.0  716250.0  774975.0  1050000.0  1411600.0